{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-3 text-center">Página de Inicio</h1>
            <h3>Esta es la página de inicio</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique quae explicabo sed numquam, cumque modi minus placeat magni amet quas. Culpa minima aut illo doloribus tempore, nesciunt molestiae expedita, alias quod dolorum voluptatem laboriosam, numquam officiis voluptatum quas neque mollitia! Vel vitae libero consectetur enim, hic ab, excepturi incidunt pariatur sint at quod id doloremque amet iste! Eius cupiditate ratione provident quis a obcaecati eligendi, voluptatem, voluptatum reiciendis totam, tempore cum dicta. Adipisci, iure repellat atque maxime quasi autem debitis quod vel neque sed dolore labore facere cum maiores nobis sunt beatae nesciunt, deserunt error officiis itaque incidunt asperiores rerum.</p>
            
            <div class="text-center">
                <a class="btn btn-dark" href="/login/">
                    Iniciar Sesion
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Registrarse
                </a>
            </div>
        </section>
    </main>

{% endblock %}